@font-face {
  font-family: "Titles";
  src: url("../fonts/Abel-Regular.eot");
  src: url("../fonts/Abel-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Abel-Regular.woff") format("woff"), url("../fonts/Abel-Regular.woff2") format("woff2"), url("../fonts/Abel-Regular.ttf") format("truetype"), url("../fonts/Abel-Regular.svg#Titles") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body";
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular.svg#Body") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body-Italic";
  src: url("../fonts/Ubuntu-Italic.eot");
  src: url("../fonts/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.ttf") format("truetype"), url("../fonts/Ubuntu-Italic.svg#Body-Italic") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body-Bold";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Body-Bold") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Body-BoldItalic";
  src: url("../fonts/Ubuntu-BoldItalic.eot");
  src: url("../fonts/Ubuntu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype"), url("../fonts/Ubuntu-BoldItalic.svg#Body-BoldItalic") format("svg");
  font-style: normal;
  font-weight: normal; }
