// import settings :
@import 'settings';
@import 'fontFace';
@import 'mixins';
$titles-bg: #7CDBD5;
$divider-color: #F9BE02;
$divider-darker: #FF9829;
$body-color: #02C8A7;
$texts-color: #F53240;
$button-color: #F9BE02;
$button-shadow-color: #b68b00;
$button-text-color: #fff;
$section-color: #06BE49;
$section-darker: #F9BE02;
$section-lighter: #0EE25D;
$text-color: #fff;
$general-text-color: #fff;

.divider {
    height          : 3px;
    background-color: $divider-color;
    z-index         : 1;
}

.square {
    height          : 128px;
    width           : 128px;
    background-color: $divider-color;
    z-index         : 2;
    margin          : auto;
    position        : relative;
    bottom          : 64px;
    overflow        : hidden;
    border-radius   : 64px;
}

.smaller-square {
    position     : relative;
    width        : 58%;
    height       : 58%;
    margin       : 10% auto auto;
    background   : $divider-color;
    border-right : solid 24px $divider-darker;
    border-bottom: solid 24px $divider-darker;
}

.body {
    background-color: $body-color;
}

.texts {
    background-color: $texts-color;
    padding-top     : 64px;
    margin          : 0;
    position        : relative;
    @include bodies;
    color           : $general-text-color;
}

.paragraphs {
    display   : inline-block;
    text-align: center;
    @include titles;
}

.big-title {
    @include titles;
}

.block {
    background-color: $section-color;
    @include bodies;
    @include blokk;
    color           : $text-color;
    opacity         : 0.8;
}

.semana-title {
    background-color: $section-lighter;
    @include tittles;

    h4 {
        margin-left: 64px;
    }
}

.semana-title:hover {
    background-color: $section-darker;
}

.oculto {
    margin : 32px;
    width  : 100%;
    display: none;
}

.oculto-text {
    padding-right: 64px;
    display      : inline-block;
    margin-bottom: 92px;
    margin-left  : 32px;
    margin-right : 32px;
    display      : inline-block;
}

.footer-container {
    @include titles;
    background-color: $titles-bg;
    color           : $general-text-color;
}

.footer {
    padding   : 64px 0;
    text-align: center;

    p {
        font-size: 2.369em;
    }
}

body {
    margin    : 0;
    padding   : 0;
    overflow-x: hidden;
}

.header-container {
    @include titles;
    background-color: $titles-bg;
    padding-top     : 48px;
}

.header {
    margin-bottom: 64px;
    text-align   : center;
}

button {
    position        : relative;
    display         : block;
    border          : 0;
    cursor          : pointer;
    border-radius   : 16px;
    color           : $button-text-color;
    background-color: $button-color;
    font-family     : 'Titles';
    font-size       : 3.927em;
    box-shadow      : 0 24px 0 0 $button-shadow-color;
    opacity         : 0.9;
    padding         : 12px;
    bottom          : 32px;
    margin          : 24px;
}

button:active {
    box-shadow   : none;
    top          : 24px;
    margin-bottom: 0;
}

button:hover {
    opacity: 1;
}

button:active,
button:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    float        : right;
    width        : 250px;
    max-width    : 90vw;
    max-height   : auto;
    border       : solid 18px $divider-color;
    text-align   : right;
    border-radius: 3px;
    display      : inline-block;
    margin-left  : 32px;
    margin-top   : 64px;
}

.img-presentation {
    float : left;
    height: 256px;
}

a {
    text-decoration: none;
}
